<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-fixed-top bg-dark py-0">
  <div class="container-fluid mb-3">
    <a class="navbar-brand mt-3"  href="#" style="font-family:didot; font-size: 20px;">JAZMYN MILAN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <a><i class="bi bi-three-dots" style="font-size:40px"></i></a>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload" *ngIf="isLoggedIn">Upload</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
        
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-facebook me-2"></i>Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-instagram me-2"></i>Instagram</a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/login" class="nav-link" (click)="logout()">Log out</a>
        </li>
      </ul>

      
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end" style="opacity: 0.9;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header bg-dark">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="color: white;">JM</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body bg-dark">

        <div class="row">
          <div class="col-sm-6 my-3">
            <a class="nav-link active" href="/home">Home</a>
          </div>

          <div class="col-sm-6 my-3">
            <a class="nav-link" href="/gallery">Gallery</a>
          </div>

          <div class="col-sm-6 my-3">
            <a href="/login" class="nav-link" routerLink="login" *ngIf="!isLoggedIn">Login</a>
          </div>

          <div class="col-sm-6 my-3">
            <a href class="nav-link" (click)="logout()" *ngIf="isLoggedIn">Log out</a>
          </div>
          
          <div class="col-sm-6 my-3">
            <a class="nav-link" href="/upload">Upload</a>
          </div>

        </div>

        <div class="row">
          
          <div class="col-sm-6 my-3">
            <a class="nav-link" href="https://www.instagram.com/jazmynmilan/?hl=en"><i class="bi bi-facebook me-2"></i>Facebook</a>
          </div>

          <div class="col-sm-6 my-3">
            <a class="nav-link" href="https://m.facebook.com/mynmyn.milan/"><i class="bi bi-instagram me-2"></i>Instagram</a>
          </div>
        </div>

  </div>
</div>
<router-outlet></router-outlet>