<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <a><i class="bi bi-three-dots" style="font-size:40px"></i></a>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header bg-dark">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="color: white;">JM</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body bg-dark">
      <ul>
        <li><a class="nav-link active" href="#">Home</a></li>
        <li><a class="nav-link" href="#">Gallery</a></li>
        <li><a class="nav-link" href="#">Log In</a></li>
        <li><a class="nav-link" href="#">Twitter</a></li>
        <li><a class="nav-link" href="#">Facebook</a></li>
        <li><a class="nav-link" href="#">Instagram</a></li>

      </ul>
  </div>
</div>
<app-home></app-home>